#login-container {
  height: 100vh;
  position: relative;
  #login-card {
    width: -webkit-fill-available;
    margin: 0;
    position: absolute;
    top: 10%;
  }
}

.App {
  text-align: center;
  font-weight: 400;
}
